{% extends "/front/layout.html.twig" %}

{% block content %}
    <!-- Header / Hero -->
    <section id="hero">
        <div class="hero-body">
            <div class="hero-image2">
               <img src="/AgriMai/assets/styles/img/image2.png" alt="image d'une main avec une pomme">
                <p>
                    Simplifiez votre vente de pommes avec notre plateforme dédiée :<br>
                    une solution simple, locale et directe entre producteurs et acheteurs.<br>
                    +1000 acheteurs et vendeurs à travers la France.
                </p>
            </div>
            <div class="hero-text">
                <h1>Où souhaitez-vous acheter vos produits ?</h1>
                <div class="hero-buttons">
                    <button><a href="/AgriMai/index.php?route=products-region&region=Normandie">Normandie</a></button>
                    <button><a href="/AgriMai/index.php?route=products-region&region=Loire">Loire</a></button>
                    <button><a href="/AgriMai/index.php?route=products-region&region=Alsace">Alsace</a></button>
                </div>
            </div>
        </div>

    </section>
    <main id="content">
        <section class ="Presentation-body">
            <div class="Presentation-img">
                <img src="/AgriMai/assets/styles/img/image3.jpg" alt="image de pommes dans un pommier ">
            </div>
            <div class="Presentation-text">
                <h2>AgriMai</h2>
                <p>
                    Connecte les producteurs locaux aux acheteurs en France.<br>
                    Notre plateforme facilite un commerce simple, direct et transparent,<br>
                    en mettant en valeur un produit unique :la pomme non traitée.<br>
                    <span class="mission">Notre mission :</span><br>
                    offrir aux producteurs une visibilité accrue à l’échelle nationale,<br>
                    tout en garantissant la qualité,la traçabilité et la confiance <br>
                    dans chaque transaction.
                </p>
                <div class="Presentation-buttons">
                    <button><a href="/AgriMai/index.php?route=about">EN SAVOIR PLUS</a></button>
                    <button><a href="/AgriMai/index.php?route=products-normandie">PUBLIER UNE ANNONNCE</a></button>
                </div>
            </div>
        </section>

        <!-- Produits récents -->
        <section id="recent-products">
            <div class="recentP-body">
                <h3>Nos nouvelles pépites</h3>
                {% if recentProducts is not empty %}
                    <div class="products-grid">
                        {% for product in recentProducts %}
                            <div class="product-card">
                                {% if product.getImage() %}
                                    <img src="/AgriMai/public/uploads/{{ product.getImage() }}" alt="{{ product.getTitle() }}">
                                {% else %}
                                    <p class="no-image">Pas d’image</p>
                                {% endif %}

                                <h4>{{ product.getTitle() }}</h4>
                                <p class="producer">{{ product.getProducteur() }}</p>
                                <p class="price">{{ product.getPrice() }} € / kg</p>
                                <a href="/AgriMai/index.php?route=product-detail&id=1={{ product.getId() }}" class="btn2">Voir</a>

                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p>Aucun produit récent disponible.</p>
                {% endif %}
            </div>
        </section>

        <section id="certificats">
            <div class="certificat-body">

                <div class="certificat">
                    <img src="/AgriMai/assets/styles/img/image6.png" alt="Logo de l'AOP, L’Appellation d’origine protégée">
                    <h3>L’Appellation d’origine protégée (AOP)</h3>
                    <p>
                        Désigne un produit dont toutes les étapes de production sont réalisées<br>
                        selon un savoir-faire reconnu dans une même aire géographique,<br>
                        qui donne ses caractéristiques au produit.
                    </p>
                    <div class="certificat-buttons">
                        <button>
                            <a href="https://www.inao.gouv.fr/aop-appellation-origine-protegee">En savoir plus</a>
                        </button>
                    </div>
                </div>

                <div class="certificat">
                    <img src="/AgriMai/assets/styles/img/image4.png" alt="Logo de l'IGP, L’indication géographique protégée ">
                    <h3>L’indication géographique protégée (IGP)</h3>
                    <p>
                        Identifie un produit agricole, brut ou transformé,<br>
                        dont la qualité, la réputation ou d’autres caractéristiques<br>
                        sont liées à son origine géographique.
                    </p>
                    <div class="certificat-buttons">
                        <button>
                            <a href="https://www.inao.gouv.fr/igp-indication-geographique-protegee">En savoir plus</a>
                        </button>
                    </div>
                </div>

                <div class="certificat">
                    <img src="/AgriMai/assets/styles/img/image5.png" alt="Logo de STG, La spécialité traditionnelle garantie">
                    <h3>La spécialité traditionnelle garantie (STG)</h3>
                    <p>
                        Correspond à un produit dont les qualités spécifiques sont liées <br>
                        à une composition, des méthodes de fabrication ou de transformation <br>
                        fondées sur une tradition, mais pas à son origine géographique.
                    </p>
                    <div class="certificat-buttons">
                        <button>
                            <a href="https://www.inao.gouv.fr/stg-specialite-traditionnelle-garantie">En savoir plus</a>
                        </button>
                    </div>
                </div>

            </div>
        </section>
        <section id="logos">
            <div class="logo-body">
                <div class="logo-image">
                    <img src="/AgriMai/assets/styles/img/blockchain.png" alt="Une icône dédiée à la traçabilité">
                    <h5>Traçabilité intelligente</h5>
                </div>
                <div class="logo-image">
                    <img src="/AgriMai/assets/styles/img/honesty.png" alt="Une icône dédiée à la transparence et à l’équité">
                    <h5>Commerce transparent et équitable</h5>
                </div>
                <div class="logo-image">
                    <img src="/AgriMai/assets/styles/img/truck.png" alt="Une icône dédiée à la Logistique ">
                    <h5>Logistique facilitée</h5>
                </div>
                <div class="logo-image">
                    <img src="/AgriMai/assets/styles/img/best-seller.png" alt="Une icône dédiée au contrôle de qualité">
                    <h5>Contrôle de qualité des produits</h5>
                </div>

            </div>
        </section>

        <section id="contact-home">
            {% include "front/partials/contactForm.html.twig" %}
        </section>

        <section id="newsletter">
            <div class="newsletter-body">
                <h3>Nos actus et bons plans</h3>
                <p>Inscrivez-vous dès maintenant à notre newsletter <br>
                pour recevoir les dernières actualités sur les nouveaux produits agricoles,<br>
                les opportunités d’exportation, les offres exclusives et les tendances du marché.</p>
                {% if session['success-message'] is defined %}
                    <p style="color: green">{{ session['success-message'] }}</p>
                {% endif %}
                <form action="/index.php?route=newsletter" method="POST">
                    <label for="email">
                        <input type="email" id="email" name="email" placeholder="Votre e-mail" required>
                    </label>
                    <button type="submit">OK</button>
                </form>
                <p class="cdg">En cliquant sur S’inscrire, vous confirmez que vous acceptez nos <span class="cdgStyle">Conditions générales d’utilisation</span>.</p>
            </div>
        </section>
    </main>
    {% endblock %}