{% extends "/front/layout.html.twig" %}

{% block content %}

    <section id="productDetail">
        <div class="productDetail-body">
            <div class="productDetail-leftPart">
                <div class="productDetail-link">
                    <a href="/AgriMai/index.php?route=home">Voir tout</a> &gt
                    <a href="AgriMai/index.php?route=products-normandie">Catégorie</a> &gt
                    <span>{{ product.getTitle() }}</span>
                </div>
                <div class="productDetail-info">
                    <h2>{{ product.getTitle() }}</h2>
                    <div class="separator">
                        <p>{{ product.price }} € / kg </p>
                        <div class="productDetail-stars">
                             ★★★★☆ <span><br> ({{ product.rating }} étoiles) - {{ product.reviewsCount }} avis</span>
                        </div>
                    </div>
                    <div class="productDetail-btn">
                        <h3>Détails</h3>
                        <h3> <a href="#" id="openModal">Livraison</a></h3>
                        <!-- La modale / Livraison-->
                        <div id="popup-livraison" class="popup-livraison">
                            <div class="popup">
                                <a class="js-close-button close-button" href="#">x</a>
                                <div class="content">
                                    <h5>Livraison</h5>
                                    <p>
                                        Nous livrons vos produits directement chez vous sous 48 h. <br>
                                        Les frais de livraison sont calculés en fonction de votre région.<br>
                                        Pour plus d’informations, contactez notre support via le formulaire de contact.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="p-description">{{ product.description }}</p>
                </div>

            </div>
            <div class="productDetail-centerPart">
                <img src="/AgriMai//assets/styles/img/{{ product.image }}" alt="{{ product.name }}">
            </div>
            <div class="productDetail-rightPart">
                <div class="productDetail-lots">
                    <p>Les lots:</p>
                    <button class="productDetail-lot-btn">2Kg</button>
                    <button class="productDetail-lot-btn">5Kg</button>
                </div>
                <div class="productDetail-formOrder">
                    <label for="lots">les lots
                        <select class="lots" name="lots">
                            <option class="option" value="">Sélectionner</option>
                            <option class="option" value="2kg">2 Kg</option>
                            <option class="option" value="5kg">5 Kg</option>
                        </select>
                    </label>
                    <label for="qty">Qté
                        <select class="qty" id="qty" name="qty">
                            <option class="option" value="1">1</option>
                            <option class="option" value="2">2</option>
                            <option class="option" value="3">3</option>
                        </select>
                    </label>
                </div>
                <div class="productDetail-textOrder">
                    <button><a class="lien" href="/AgriMai/index.php?route=sendMessage">Acheter maintenant</a></button>
                    <p>Pour une grande quantité? <a class="lien" href="/AgriMai/index.php?route=sendMessage">Contactez-nous</a></p>
                    <p class="order-Condition">Livraison gratuite à partir de 50 €</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
