{% extends "/front/layout.html.twig" %}

{% block content %}

    <section id="productDetail">
        <div class="productDetail-body">
            <div class="productDetail-leftPart">
                <div class="productDetail-link">
                    <a href="/AgriMai/index.php?route=home">Voir tout</a> &gt
                    <a href="/AgriMai/index.php?route=products-region&region=Normandie">Catégorie</a> &gt
                    <span>{{ product.getTitle() }}</span>
                </div>
                <div class="productDetail-info">
                    <h2>{{ product.getTitle() }}</h2>
                    <div class="separator">
                        <p>{{ product.price }} € / kg </p>
                        <div class="productDetail-stars">
                             ★★★★☆ <span><br> ({{ product.rating }} étoiles) - {{ product.reviewsCount }} avis</span>
                        </div>
                    </div>
                    <div class="productDetail-btn">
                        <h3>Détails</h3>
                        <h3> <a href="#" id="openModal">Livraison</a></h3>
                        <!-- La modale / Livraison-->
                        <div id="popup-livraison" class="popup-livraison">
                            <div class="popup">
                                <a class="js-close-button close-button" href="#">x</a>
                                <div class="content">
                                    <h5>Livraison</h5>
                                    <p>
                                        Nous livrons vos produits directement chez vous sous 48 h. <br>
                                        Les frais de livraison sont calculés en fonction de votre région.<br>
                                        Pour plus d’informations, contactez notre support via le formulaire de contact.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- La modale / Retour-->
                        <h3> <a href="#" id="openModal2">Retour</a></h3>
                        <div id="popup-retour" class="popup-retour">
                            <div class="popup2">
                                <a class="js-close-button2 close-button2" href="#">x</a>
                                <div class="content2">
                                    <h5>Retour</h5>
                                    <p>
                                        Pour des raisons d’hygiène et de sécurité alimentaire, aucun retour ni échange
                                        n’est possible.
                                        Toutefois, un remboursement peut être envisagé en cas de produit abîmé ou non conforme,
                                        après examen de la situation. Pour plus d’informations, contactez notre support
                                        via le formulaire de contact.<br>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <p class="p-description">{{ product.description }}</p>
                </div>

            </div>
            <div class="productDetail-centerPart">
                <img src="/AgriMai/public/uploads/{{ product.getImage() }}" alt="{{ product.name }}">
            </div>
            <div class="productDetail-rightPart">

                <div class="productDetail-lots">
                    <p>Les lots:</p>
                    <button class="productDetail-lot-btn">2Kg</button>
                    <button class="productDetail-lot-btn">5Kg</button>
                </div>
                <div class="productDetail-formOrder">
                    <label for="lots">les lots
                        <select class="lots" name="lots">
                            <option class="option" value="">Sélectionner</option>
                            <option class="option" value="2kg">2 Kg</option>
                            <option class="option" value="5kg">5 Kg</option>
                        </select>
                    </label>
                    <label for="qty">Qté
                        <select class="qty" id="qty" name="qty">
                            <option class="option" value="1">1</option>
                            <option class="option" value="2">2</option>
                            <option class="option" value="3">3</option>
                        </select>
                    </label>

                </div>
                <div id="openForm">
                <!-- Bouton pour ouvrir le formulaire -->
                    <button >Acheter maintenant</button>
                </div>


                <!-- La modale / Formulaire -->
                <div id="popup-form" class="popup-livraison">
                    <div class="popup">
                        <a class="js-close-button close-button" href="#">x</a>
                        <div class="content">
                            <h5>Formulaire d'achat</h5>
                            <form method="post" action="/AgriMai/index.php?route=sendMessage" id="contactForm">
                                <div class="purchase-fields">
                                    <label for="name">Nom :</label>
                                    <input type="text" id="name" name="name" placeholder="Votre nom" required>
                                </div>

                                <div class="purchase-fields">
                                    <label for="email">E-mail :</label>
                                    <input type="email" id="email" name="email" placeholder="Votre e-mail" required>
                                </div>

                                <div class="purchase-fields">
                                    <label for="message">Message :</label>
                                    <textarea id="message" name="message" rows="5" placeholder="Votre message" required></textarea>
                                </div>

                                <!-- Champs cachés -->
                                <input type="hidden" name="receiver_id" value="{{ product.getUserId() }}">
                                <input type="hidden" name="product_id" value="{{ product.getId() }}">
                                <input type="hidden" id="selected_lot" name="selected_lot" value="">

                                <div class="submit">
                                    <button type="submit">Envoyer au producteur</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </section>

{% endblock %}
